$base-blue: #19C1CE;
$base-yellow: #F2BF4E;
$base-yellow-hover: #ecb135;

html,body{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body.menu-opened{
    overflow: hidden;
}
.content{
    max-width: 1225px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
*{
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0;
}
a{
    text-decoration: none;
    letter-spacing: 0.04em;
}
ul{
    padding: 0px;
    list-style: none;
}


// ANIMATIONS
@keyframes lung {
    0% { opacity: 0.6; }
    50% { opacity: 0.4; }
    100% { opacity: 0.6; }
}
@keyframes lung-two {
    0% { opacity: 0.4; }
    50% { opacity: 0.2; }
    100% { opacity: 0.6; }
}


@keyframes gates {
    0% { transform: scale(1.00); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1.00); }
}

// AUX
.button-simple{
    margin: 0px 8px;
    padding: 10px 15px 8px 15px;
    border: 2px solid #212429;
    display: block;
    position: relative;
    transition: 300ms all ease;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    color: #212429;
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: calc(100% + 4px);
        left: -2px;
        top: calc(100% + 2px);
        margin: 0px 0px;
        border-top: 4px solid #212429;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        height: 0px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
   
    }
    &:hover{
        background-color: #8dcacf;
    }
}
.blue-button.button-simple{
    background-color: $base-blue;
    padding-right: calc(16px + 13px + 11px);
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 13.33px;
    border-color: transparent;
    background-position: calc(100% - 13.83px) center;
    margin-right: 0px;
    &:hover{
        background-color: #8dcacf;
    }
}

.hamb{
    display: flex;
    flex-direction: column;
    display: none;
    height: 22px;
    position: relative;
    div{
        margin: auto;
    }
    div, &:after, &:before{
        width: 24px;
        height: 4px;
        border-radius: 3px;
        background-color: $base-blue;
        display: block;
        transition: 300ms all ease;
    }
    &:after, &:before{
        content: ' ';
        position: absolute;
        left: 0;
    }
    &:after{
        bottom: 0;
    }
    &:before{
        top: 0;
    }
}
.hamb.active{
    div{
        opacity: 0;
    }
    &:after{
        bottom: 9px;
        transform: rotate(-45deg);
    }
    &:before{
        transform: rotate(45deg);
        top: 9px;
    }
}

// HEADER
header{
    background-color: #FFF;
    position: relative;
    border-bottom: 1px solid #CFD3D8;
    z-index: 8;
    > .content{
        display: flex;
        align-items: center;
        >a{
            display: flex;
            align-items: center;
            justify-self: flex-start;
            img{
                max-width: 175px;
                width: 100%;
            }
        } 
    
    }
}

// FOOTER
footer{
    background-color: $base-blue;
    .content{
        padding-top: 40px;
        padding-bottom: 40px;
        .top-side{
            display: flex;
            justify-content: space-between;
            padding-bottom: 24px;
            border-bottom: 1px solid #78EDF2;
            .links{
                display: flex;
                padding: 0px;
                margin: 0px;
                list-style: none;
                li {
                    a{
                        margin-left: 22px;
                        display: block;
                        img{
                            transition: 300ms all ease;
                        }
                        &:hover{
                            img{
                                filter: brightness(10);
                            }
                        }
                    }
                }
            }
        }
        .bottom-side{
            padding-top: 24px;
            p{
                margin-left: auto;
                margin-right: 0px;
                width: 100%;
                text-align: end;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #212429;
                margin: 0px;
                strong{
                    font-weight: 800;
                }
                a{
                    color: #212429;
                    text-decoration: underline;
                    transition: 400ms all ease;
                    &:hover{
                        color: #000;
                    }
                }
            }
        }
    }
}


// CREATE ACCOUNT
.create-account{
    .content{
        display: flex;
        justify-content: space-between;
        padding-top: 144px;
        padding-bottom: 124px;
        .left-side{
            max-width: 600px;
            h2{
                font-family: 'Darker Grotesque';
                font-style: normal;
                font-weight: 900;
                font-size: 40px;
                line-height: 100%;
                color: #212429;
                margin-top: 0px;
                margin-bottom: 24px;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
                color: #212429;
                margin-top: 0px;
                margin-bottom: 40px;
            }
            a.button-simple{
                font-size: 16px;
                text-transform: uppercase;
                padding-left: 24px;
                padding-right: 24px;
                max-width: 210px;
                background-color: $base-blue;
                border-color: transparent;
                &:hover{
                    background-color: #8dcacf;
                }
            }
        }
        .right-side{
            max-width: 560px;
            width: 100%;
            ul.brands{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 0px;
                margin-bottom: 0px;
                li{
                    max-width: 105px;
                    width: 95%;
                    a{
                        display: flex;
                        margin-bottom: 24px;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        img{
                            width: 40px;
                            height: 40px;
                            object-fit: scale-down;
                            object-position: center;
                            margin-bottom: 8px;
                        }
                        p{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            text-align: center;
                            color: #000000;
                            margin: 0px;
                            transition: 300ms color ease;
                            letter-spacing: 0px;
                        }
                        &:hover{
                            p{
                                color: $base-blue;
                            }
                        }
                    }
                }
                .hlpr{
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}

// VIEW DEMO
.open-modal-video{
    >*{
        pointer-events: none;
    }
}
.view-demo{
    background: #f1f3f5;
    background: linear-gradient(29deg, #f1f3f5 66.5%, rgba(255, 255, 255, 0) 66.5%);
    position: relative;
    z-index: 2;
    .content{
        background: rgb(241,243,245);
        position: relative;
        padding-top: 66px;
        padding-bottom: 70px;
        .left-side{
            max-width: 395px;
            margin-right: 80px;
            width: 100%;
            z-index: 3;
            position: relative;
            h2{
                font-family: 'Darker Grotesque';
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 110%;
                color: #212429;
                margin-top: 0px;
                margin-bottom: 48px;
            }
            a{
                padding-right: calc(13px + 10px + 15px);
                background-image: url(../images/play.svg);
                background-repeat: no-repeat;
                background-position: calc(100% - 12px) center;
                background-size: 15px;
                text-transform: uppercase;
                max-width: 212px;
                padding-left: 16px;
            }
        }
        .right-side{
            max-width: 649px;
            width: 95%;  
            position: absolute;
            right: 103px;
            top: 0;
            bottom: 0;
            margin: auto;
            img{
                width: auto;
                height: calc(100% + 48px);
                position: relative;
                top: -24px;
            }
            .open-modal-video{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 112px;
                height: 112px;
                div{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    background-color: #FFF;
                    background-image: url(../images/play-button.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    position: relative;
                    z-index: 2;
                }
                &:after, &:before{
                    content: ' ';
                    display: block;
                    position: absolute;
                    background: #78EDF2;
                    border-radius: 100%;
                    transition: 300ms all ease;
                }
                &:after{
                    width: 136px;
                    height: 136px;
                    left: -12px;
                    right: -12px;
                    top: -12px;
                    bottom: -12px;
                    opacity: 0.6;
                    animation: lung 2s ease alternate infinite;
                }
                &:before{
                    width: 160px;
                    height: 160px;
                    left: -24px;
                    right: -24px;
                    top: -24px;
                    bottom: -24px;
                    opacity: 0.4;
                    animation: lung-two 2s ease alternate infinite;
                }
                &:hover{
                    &:after{
                        width: 156px;
                        height: 156px;
                        left: -22px;
                        right: -22px;
                        top: -22px;
                        bottom: -22px;
                        opacity: 0.6;
                        animation: lung 1s ease alternate infinite;
                    }
                    &:before{
                        width: 180px;
                        height: 180px;
                        left: -34px;
                        right: -34px;
                        top: -34px;
                        bottom: -34px;
                        opacity: 0.4;
                        animation: lung-two 1s ease alternate infinite;
                    }
                }
            }
        }
    }
}

// CREATE ACCOUNT FREE
.create-account-free{
    margin-bottom: 144px;
    margin-top: 120px;
    .content{
        padding-top: 80px;
        padding-bottom: 80px;
        background: #0B485B;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        h2{
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 100%;
            text-align: center;
            color: #FFFFFF;
            margin-top: 0px;
            margin-bottom: 24px;
            max-width: 600px;
            z-index: 2;
            position: relative;
        }
        p{
            max-width: 808px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            margin-top: 0px;
            margin-bottom: 40px;
            z-index: 2;
            position: relative;
        }
        a{
            background-color: $base-yellow;
            font-size: 16px;
            text-transform: uppercase;
            border-color: transparent;
            padding-left: 24px;
            padding-right: 24px;
            z-index: 2;
            position: relative;
            &:hover{
                background-color: $base-yellow-hover;
                border-color: $base-yellow-hover;
            }
        }
        &:after, &:before{
            content: " ";
            display: block;
            background-repeat: no-repeat;
            width: 50%;
            height: 100%;
            animation: gates 4s ease infinite;
        }
        &:after{
            position: absolute;
            right: 0;
            top: 0;
            background-image: url(../images/graphs-right.svg);
            background-position: top right;
        }
        &:before{
            position: absolute;
            left: 0;
            bottom: 0;
            background-image: url(../images/graphs-left.svg);
            background-position: bottom left;
        }
    }
}

// AUTOMATION TOOLS
.automation-tools{
    .content{
        h2{
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 100%;
            display: flex;
            align-items: center;
            color: #212429;
            margin-top: 0px;
            margin-bottom: 65px;
            max-width: 600px;
        }
        ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 0px;
            li{
                background: #FFFFFF;
                box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
                border-radius: 2px;
                display: block;
                padding: 24px;
                max-width: calc(33% - 60px);
                margin-bottom: 24px;
                >div{
                    width: 64px;
                    height: 64px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    background-color: #F1F3F5;
                }
                h4{
                    font-family: 'Darker Grotesque';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 110%;
                    display: flex;
                    align-items: center;
                    color: #212429;
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    display: flex;
                    align-items: center;
                    color: #212429;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    max-width: 322px;
                }
            }
        }
    }
}

// RESULTS
.results{
    margin-bottom: 120px;
    position: relative;
    background: rgb(241,243,245);
    background: linear-gradient(217deg, #f1f3f5 66.5%, rgba(255, 255, 255, 0) 66.5%);
    .content{
        padding-bottom: 80px;
        padding-top: 222px;
        display: flex;
        justify-content: space-between;
        .left-side{
            position: relative;
            max-width: 600px;
            margin-right: 24px;
            img{
    
                height: auto;
                width: 100%;
                z-index: 1;
                position: relative;
            }
            &:after{
                content: '';
                display: block;
                position: absolute;
                z-index: 2;
                right: -1px;
                top: -1px;
                width: 120px;
                height: 121px;
                background: rgb(241,243,245);
                background: linear-gradient(225deg, rgba(241,243,245,1) 50%, rgba(255,255,255,0) 50%);
            }
        }
        .right-side{
            max-width: 496px;
            width: 95%;
            z-index: 2;
            position: relative;
            h2{
                font-family: 'Darker Grotesque';
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 110%;
                display: flex;
                align-items: center;
                color: #000000;
                margin-bottom: 24px;
                margin-top: 0px;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
                color: #212429;
                margin-bottom: 40px;
                margin-top: 0px;
            }
            ul{
                margin: 0px;
                li{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #212429;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    padding-left: 37px;
                    background-image: url(../images/list-ico.svg);
                    background-repeat: no-repeat;
                    background-position: left 5px;
                    margin-bottom: 24px;
                    a{
                        color: $base-blue;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// TOGETHER
.together{
    background-color: #0B485B;
    position: relative;
    &:after{
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        left: -1px;
        top: -1px;
        width: 96px;
        height: 97px;
        background: rgb(241,243,245);
        background: linear-gradient(135deg, rgba(241,243,245,1) 50%, rgba(255,255,255,0) 50%);
    }
    .content{
        padding-top: 76px;
        padding-bottom: 76px;
        .left-side{
            max-width: 600px;
            width: 95%;
            h2{
                font-family: 'Darker Grotesque';
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 110%;
                color: #FFFFFF;
                margin-bottom: 24px;
                margin-top: 0px;
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
                margin-top: 0px;
                margin-bottom: 24px;
            }
            p:last-child{
                margin-bottom: 0px;
            }
        }
    }
}

// OPPORTUNITY
.opportunity{
    background: rgb(241,243,245);
    background: linear-gradient(30deg, #f1f3f5 66%, rgba(255, 255, 255, 0) 66%);
    position: relative;
    z-index: 2;
    .content{
        position: relative;
        .left-side{
            max-width: 600px;
            padding-top: 115px;
            padding-bottom: 270px;        
            h1{
                font-family: 'Darker Grotesque';
                font-style: normal;
                font-weight: 900;
                font-size: 56px;
                line-height: 100%;
                color: #212429;
                margin-top: 0px;
                margin-bottom: 40px;
                strong{
                    font-family: 'Darker Grotesque';
                    color: $base-blue;
                    font-weight: 900;
                }
            }
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                color: #212429;
                margin-top: 0px;
                margin-bottom: 24px;
            }
        }
    }
}


// FORM
.form{
    position: absolute;
    right: 0;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
    border-radius: 2px;
    .error{
        font-size: 13px;
        color: #b40000;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 140%;
        text-align: left;
        position: absolute;
        top: 100%;
    }
    form{
        max-width: 448px;
        width: 100%;
        padding: 40px 24px; 
        h4{
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 110%;
            text-align: center;
            color: #212429;
            margin-top: 0px;
            margin-bottom: 16px;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            color: #7E8A98;
            margin-top: 0px;
            margin-bottom: 24px;
        }
        .hr-diff{
            border-bottom: 1px solid #CFD3D8;
            width: 100%;
            height: 0px;
            margin-bottom: 24px;
        }
        .thanks-success{
            text-align: center;
            padding-top: 16px;
            color: #01c121;
            font-size: 20px;
            font-family: 'Darker Grotesque';
        }
        .input-square{
            margin-top: 16px;
            margin-bottom: 16px;
            display: flex;
            flex-direction: column;
            position: relative;
            label{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                margin-bottom: 8px;
            }
            input[type="text"], input[type="tel"], input[type="email"], input[type="password"], input[type="url"]{
                background: #FFFFFF;
                border: 2px solid #000000;
                box-sizing: border-box;
                box-shadow: inset 6px 6px 0px #EEFBFB;
                height: 40px;
                padding-left: 12px;
                padding-top: 8px;
                padding-bottom: 8px;
                width: 100%;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #212429;
            }
            .select-effect{
                background: #FFFFFF;
                border: 2px solid #000000;
                box-sizing: border-box;
                box-shadow: inset 6px 6px 0px #EEFBFB;
                height: 40px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #212429;

                background-image: url(../images/select-arrow.svg);
                background-position: calc(100% - 17px) center;
                background-repeat: no-repeat;
                overflow: hidden;
                select{
                    width: 100%;
                    height: 100%;
                    border: 0px;
                    background-color: transparent;
                    padding-left: 12px;
                    padding-top: 9px;
                    padding-bottom: 8px;
                    
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #97A1AC;
                    -webkit-appearance: none;
                    width: 100%;
                    &.valid{
                        color: #212429;
                    }
                }
                select::-ms-expand {
                    display: none;
                }
            }
            .cap{
                width: 100%;
                position: relative;
            }
            .pass-toggle{
                position: absolute;
                bottom: 0px;
                top: 0px;
                margin: auto;
                right: 13px;
                width: 17px;
                height: 14px;
                background-image: url(../images/eye-show.svg);
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                &.hide{
                    background-image: url(../images/eye-hide.svg);
                }
            }
            .hidden{
                height: 0px;
                position: relative;
                overflow: hidden;
                transition: 300ms all ease;
                opacity: 0;
                margin-bottom: 0px;
                &.show{
                    height: auto;
                    opacity: 1;
                    margin-top: 16px;
                    overflow: visible;
                }
            }
            &.site-square{
                margin-bottom: 24px;
                label{
                    margin-bottom: 0px;
                }
            }
            .options{
                margin-top: 16px;
                position: relative;
                label{
                    margin-left: 12px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: -0.01em;
                    font-feature-settings: 'ss02' on;
                    color: #212429;
                }
                input[type="radio"]{
                    opacity: 0;
                }
                .ball{
                    background: #FFFFFF;
                    border: 1px solid #97A1AC;
                    box-sizing: border-box;
                    border-radius: 100%;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    transition: 200ms all ease;
                    &.active{
                        background-color: $base-blue;
                        border: 6px solid $base-blue;
                        background-color: #000;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
            ::-webkit-input-placeholder { /* Edge */
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #97A1AC;
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #97A1AC;
            }
            ::placeholder {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #97A1AC;
            }
        }
        .out-side-button{
            padding: 0px;
            background-color: $base-yellow;
            border-color: transparent;
            input{
                width: 100%;
                height: 100%;
                background: transparent;
                border: 0px;
                padding: 10px 15px 8px 15px;
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                color: #212429;
                text-transform: uppercase;
            }
            &:hover{
                background-color: $base-yellow-hover;
                border-color: $base-yellow-hover;
            }
        }
        >ul{
            margin-top: 0px;
            margin-bottom: 24px;
            li{
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: #7E8A98;
                list-style: disc;
                margin-left: 23px;
                a{
                    color: $base-blue;
                    text-decoration: underline;
                }
            }
        }
    }
}


@media only screen and (min-width: 980px) {
    header .float-menu{
        position: absolute;
        left: 0;
        max-width: 100vw;
        width: 100%;
        top: 100%;
        background: #FFFFFF;
        box-shadow: 0px 8px 9px rgba(33, 36, 41, 0.16);
        border-radius: 2px;
        opacity: 0;
        visibility: hidden;
        transition: 350ms all ease;
        .content{
            display: flex;
            flex-wrap: wrap;
            padding: 24px;
            ul{
                flex: none;
                order: 2;
                flex-grow: 0;
                margin: 0px 40px;
                list-style: none;
                padding: 0px;
                > a{
                    font-family: 'Darker Grotesque';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 110%;
                    text-transform: uppercase;
                    color: $base-blue;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #CFD3D8;
                    display: block;
                }
                li{
                    a{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        color: #212429;
                        display: block;
                        margin-top: 16px;
                        margin-bottom: 16px;
                        transition: 300ms all ease;
                        &:hover{
                            color: $base-blue;
                        }
                    }
                }
            }
            ul:first-child{
                margin-left: 0px;
            }
        }
    }
    header > .content nav{
        width: 100%;
        display: flex;
        align-items: center;
        >ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            align-items: center;
            margin-left: 65px;
            margin-right: 0px;
        }
        > .list{
            max-width: 550px;
            width: 95%;
            justify-content: space-between;
            margin-left: auto;
            > li {
                padding-top: 29px;
                padding-bottom: 29px;
                > a{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    color: #212429;
                    display: block;
                    transition: 300ms color ease;
                    &:hover{
                        color: $base-blue;
                    }
                }
                &:hover{
                    .float-menu{
                        opacity: 1;
                        visibility: visible;
                        transition-delay: 100ms;
                    }
                }
            }
            li.has-child{
                display: flex;
                align-items: center;
                &:after{
                    content: '';
                    display: block;
                    background-image: url(../images/chevron.svg);
                    background-repeat: no-repeat;
                    background-size: 8px;
                    background-position: center;
                    width: 8px;
                    height: 8px;
                    margin-left: 8px;
                    transition: 250ms transform ease;
                }
                &:hover:after{
                    transform: rotateZ(180deg);
                }
            }
        }
    }
}

.popup-video{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 300ms all ease;
    .overlay{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.35);
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .object{
        position: relative;
        z-index: 2;
        max-width: 900px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        top: -40px;
        transition: 300ms top ease;
        max-height: calc(100vh - 63px);
        .close-popup{
            display: flex;
            flex-direction: column;
            height: 22px;
            width: 22px;
            position: relative;
            position: absolute;
            right: -2px;
            top: -28px;
            cursor: pointer;
            &:after, &:before{
                content: '';
                position: absolute;
                left: 0;
                width: 24px;
                height: 4px;
                border-radius: 3px;
                background-color: #23ebfb;
                display: block;
                transition: 300ms all ease;
            }
            &:after{
                bottom: 9px;
                transform: rotate(-45deg);
            }
            &:before{
                transform: rotate(45deg);
                top: 9px;
            }
        }
        .video{
            width: 100%;
            height: auto;
            iframe{
                width: 100%;
                height: auto;
                min-height: 400px;
            }
        }
    }
    &.active{
        visibility: visible;
        pointer-events: inherit;
        opacity: 1;
        .object{
            top: 0px;
        }
    }
}