@media only screen and (max-width: 979px) {
  .opportunity .content .left-side,
  .together .content .left-side,
  .results .content .right-side {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .content {
    width: calc(100% - 32px);
  }
  header > .content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 64px;
  }
  header > .content > a img {
    width: 136px;
  }
  header > .content > .list, header > .content .buttons-header {
    display: none;
  }
  header > .content .hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .content .top-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 0px;
  }
  footer .content .top-side > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #78EDF2;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  footer .content .top-side ul.links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .content .top-side ul.links li a {
    margin-left: 12px;
    margin-right: 12px;
  }
  footer .content .bottom-side {
    padding-top: 0px;
  }
  footer .content .bottom-side p {
    text-align: center;
  }
  #menu-mobile {
    position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    z-index: 10;
    background: #FFF;
    height: calc(100vh - 65px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms all ease;
    transition: 300ms all ease;
    pointer-events: none;
  }
  #menu-mobile.active {
    top: 65px;
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;
  }
  #menu-mobile ul.list {
    max-width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 57px;
    height: calc(100% - 94px - 24px - 57px);
    overflow: scroll;
  }
  #menu-mobile ul.list > li > a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #212429;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #CFD3D8;
  }
  #menu-mobile ul.list > li.has-child > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    pointer-events: none;
  }
  #menu-mobile ul.list > li.has-child > a:after {
    content: '';
    display: block;
    background-image: url(../images/chevron.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: center;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    -webkit-transition: 250ms -webkit-transform ease;
    transition: 250ms -webkit-transform ease;
    transition: 250ms transform ease;
    transition: 250ms transform ease, 250ms -webkit-transform ease;
  }
  #menu-mobile ul.list > li.has-child > a:hover:after {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  #menu-mobile ul.list > li.has-child.active a {
    pointer-events: inherit;
    border-bottom-color: transparent;
  }
  #menu-mobile ul.list > li.has-child.active .float-menu {
    margin-top: 16px;
    opacity: 1;
    visibility: visible;
    height: auto;
  }
  #menu-mobile ul.list > li:last-child a {
    border-bottom: 0px;
  }
  #menu-mobile ul.list .float-menu {
    margin-top: 0px;
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    -webkit-transition: 300ms all ease;
    transition: 300ms all ease;
  }
  #menu-mobile ul.list .float-menu .content {
    width: 100%;
  }
  #menu-mobile ul.list .float-menu .content ul {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -ms-flex-positive: 0;
        flex-grow: 0;
    list-style: none;
    padding: 0px;
    width: 100%;
  }
  #menu-mobile ul.list .float-menu .content ul > a {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 110%;
    text-transform: uppercase;
    color: #19C1CE;
    padding-bottom: 16px;
    border-bottom: 1px solid #CFD3D8;
    display: block;
  }
  #menu-mobile ul.list .float-menu .content ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #212429;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    -webkit-transition: 300ms all ease;
    transition: 300ms all ease;
  }
  #menu-mobile ul.list .float-menu .content ul li a:hover {
    color: #19C1CE;
  }
  #menu-mobile .buttons-header {
    border-top: 1px solid #CFD3D8;
    padding-top: 24px;
    padding-bottom: 28px;
    background-color: #F1F3F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form {
    position: relative;
    top: 0px;
  }
  .form form {
    width: calc(100% - 48px);
    max-width: 100%;
  }
  .form form h4 {
    font-size: 20px;
  }
  .opportunity {
    background: linear-gradient(27deg, #f1f3f5 95%, rgba(255, 255, 255, 0) 95%);
    padding-bottom: 40px;
  }
  .opportunity .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .opportunity .content .left-side {
    padding-top: 40px;
    padding-bottom: 12px;
  }
  .opportunity .content .left-side h1 {
    font-size: 40px;
    margin-bottom: 24px;
  }
  .opportunity .content .left-side p {
    font-size: 16px;
  }
  .together:after {
    width: 48px;
    height: 49px;
  }
  .together .content {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .together .content .left-side h2 {
    font-size: 24px;
  }
  .results {
    background: linear-gradient(211deg, #f1f3f5 73%, rgba(255, 255, 255, 0) 73%);
    margin-bottom: 0px;
  }
  .results .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .results .content .right-side h2 {
    font-size: 24px;
  }
  .results .content .right-side p {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .results .content .right-side ul li:last-child {
    margin-bottom: 0px;
  }
  .results .content .left-side {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .results .content .left-side:after {
    width: 65px;
    height: 66px;
  }
  .automation-tools .content h2 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .automation-tools .content ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .automation-tools .content ul li {
    max-width: 100%;
  }
  .automation-tools .content ul li h4 {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style-979.css.map */