@media only screen and (max-width: 979px) {  
    .content{
        width: calc(100% - 32px);
    }
    header > .content{
        justify-content: space-between;
        height: 64px;
        >a img{
            width: 136px;
        }
        >.list, .buttons-header{
            display: none;
        }
        .hamb{
            display: flex;
        }
    }


    footer{
        .content{
            .top-side{
                flex-direction: column;
                border-bottom: 0px;
                > a{
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid #78EDF2;
                    padding-bottom: 24px;
                    margin-bottom: 24px;
                }
                ul.links{
                    justify-content: center;
                    li a{
                        margin-left: 12px;
                        margin-right: 12px;
                    }
                }
            }
            .bottom-side{
                padding-top: 0px;
                p{
                    text-align: center;
                }
            }
        }
    }

    #menu-mobile{
        position: absolute;
        left: 0;
        right: 0;
        top: 45px;
        z-index: 10;
        background: #FFF;
        height: calc(100vh - 65px);
        opacity: 0;
        visibility: hidden;
        transition: 300ms all ease;
        pointer-events: none;
        &.active{
            top: 65px;
            opacity: 1;
            visibility: visible;
            pointer-events: inherit;
        }
        ul.list{
            max-width: calc(100% - 32px);
            margin-left: auto;
            margin-right: auto;
            margin-top: 24px;
            margin-bottom: 57px;
            height: calc(100% - 94px - 24px - 57px);
            overflow: scroll;
            > li{
                > a{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;
                    display: flex;
                    align-items: center;
                    color: #212429;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #CFD3D8;
                }
            }
            > li.has-child > a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                pointer-events: none;
                &:after{
                    content: '';
                    display: block;
                    background-image: url(../images/chevron.svg);
                    background-repeat: no-repeat;
                    background-size: 8px;
                    background-position: center;
                    width: 8px;
                    height: 8px;
                    margin-right: 4px;
                    transition: 250ms transform ease;
                }
                &:hover:after{
                    transform: rotateZ(180deg);
                }
            }
            >li.has-child.active{
                a{
                    pointer-events: inherit;
                    border-bottom-color: transparent;
                }
                .float-menu{
                    margin-top: 16px;
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                }
            }
            > li:last-child{
                a{
                    border-bottom: 0px;
                }
            }
            .float-menu {
                margin-top: 0px;
                opacity: 0;
                visibility: hidden;
                height: 0;
                overflow: hidden;
                transition: 300ms all ease;
                .content{
                    width: 100%;
                    ul{
                        flex: none;
                        flex-grow: 0;
                        list-style: none;
                        padding: 0px;
                        width: 100%;
                        > a{
                            font-family: 'Darker Grotesque';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 18px;
                            line-height: 110%;
                            text-transform: uppercase;
                            color: #19C1CE;
                            padding-bottom: 16px;
                            border-bottom: 1px solid #CFD3D8;
                            display: block;
                        }
                        li{
                            a{
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                color: #212429;
                                display: block;
                                margin-top: 16px;
                                margin-bottom: 16px;
                                transition: 300ms all ease;
                                &:hover{
                                    color: #19C1CE;
                                }
                            }
                        }
                    }
                }
    
            }
        }
        .buttons-header{
            border-top: 1px solid #CFD3D8;
            padding-top: 24px;
            padding-bottom: 28px;
            background-color: #F1F3F5;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .form{
        position: relative;
        top: 0px;
        form{
            width: calc(100% - 48px);
            max-width: 100%;
            h4{
                font-size: 20px;
            }
        }
    }

    .opportunity{
        background: linear-gradient(27deg, #f1f3f5 95%, rgba(255, 255, 255, 0) 95%);
        padding-bottom: 40px;
        .content{
            flex-direction: column;
            .left-side{
                padding-top: 40px;
                padding-bottom: 12px;
                h1{
                    font-size: 40px;
                    margin-bottom: 24px;
                }
                p{
                    font-size: 16px;
                }
            }

        }
    }

    .together{
        &:after{
            width: 48px;
            height: 49px;
        }
        .content{
            padding-top: 48px;
            padding-bottom: 48px;
            .left-side{
                h2{
                    font-size: 24px;
                }
            }
        }
    }

    .results{
        background: linear-gradient(211deg, #f1f3f5 73%, rgba(255, 255, 255, 0) 73%);
        margin-bottom: 0px;
        .content{
            flex-direction: column-reverse;
            padding-bottom: 40px;
            padding-top: 40px;
            .right-side{
                h2{
                    font-size: 24px;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 24px;
                }
                ul li:last-child{
                    margin-bottom: 0px;
                }
            }
            .left-side{
                margin-left: auto;
                margin-right: auto;
                margin-top: 40px;
                &:after{
                    width: 65px;
                    height: 66px;
                }
            }
        }
    } 
    .automation-tools{
        .content{
            width: calc(100%);
            h2{
                font-size: 32px;
                margin-bottom: 24px;
                width: calc(100% - 32px);
                margin-left: auto;
                margin-right: auto;
            }
            ul{
                padding-bottom: 6px;
                li{
                    max-width: calc(100vw - 32px);
                    margin-left: auto;
                    margin-right: auto;
                    height: fit-content;
                
                    > div{
                        width: 48px;
                        height: 48px;
                        img{
                            max-width: 24px;
                        }
                    }
                    h4{
                        font-size: 24px;
                    }
                    p{
                        max-width: 100%;
                    }
                }
            }
        }
        .tns-outer{
            display: flex;
            flex-direction: column-reverse;
            .tns-ovh{
                padding-bottom: 36px;
            }
            .tns-nav{
                display: flex;
                align-items: center;
                justify-content: center;
                button{
                    width: 16px;
                    height: 16px;
                    border: 2px solid #CFD3D8;
                    box-sizing: border-box;
                    display: block;
                    background-color: transparent;
                    border-radius: 100%;
                    margin: 0px 12px;
                    transition: 300ms all ease;
                    padding: 0px;
                    position: relative;
                    &:after{
                        content: ' ';
                        width: 0px;
                        height: 0px;
                        display: block;
                        transition: 300ms all ease;
                        background: #19C1CE;
                        border-radius: 100%;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                    &.tns-nav-active{
                        border-color: #19C1CE;
                        &:after{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .create-account-free{
        margin-top: 52px;
        margin-bottom: 64px;
        .content{
            padding-top: 40px;
            padding-bottom: 40px;
            h2{
                font-size: 32px;
                width: calc(100% - 32px);
                margin-bottom: 16px;
            }
            p{
                width: calc(100% - 32px);
                margin-bottom: 24px;
            }
            a{
                font-size: 14px;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 6px;
                padding-bottom: 6px;
            }
            &:after, &:before{
                width: 29%;
                background-size: 330% auto;
                height: 29%;
            }
            &:before{
                background-position: 10% center;
            }
            &:after{
                background-position: 85% 70%;
            }
        }
    }
    .view-demo{
        margin-bottom: 40px;
        background: linear-gradient(180deg, #f1f3f5 calc(100% - 40px), rgba(255, 255, 255, 0) calc(100% - 40px));
        .content{
            padding-top: 40px;
            flex-direction: column;
            padding-bottom: 0px;
            background-color: transparent;
            .left-side{
                h2{
                    font-size: 24px;
                    margin-bottom: 24px;
                }
                a{
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 36px;
                }
            }
            .right-side{
                position: relative;
                right: 0px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                img{
                    max-width: 100%;
                    height: auto;
                    top: 0px;
                }

                .open-modal-video{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 56px;
                    height: 56px;
                    div{
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                        background-color: #FFF;
                        background-image: url(../images/play-button.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        position: relative;
                        z-index: 2;
                        background-size: 18px;
                    }
                    &:after, &:before{
                        content: ' ';
                        display: block;
                        position: absolute;
                        background: #78EDF2;
                        border-radius: 100%;
                        transition: 300ms all ease;
                    }
                    &:after{
                        width: 68px;
                        height: 68px;
                        left: -6px;
                        right: -6px;
                        top: -6px;
                        bottom: -6px;
                    }
                    &:before{
                        width: 80px;
                        height: 80px;
                        left: -12px;
                        right: -12px;
                        top: -12px;
                        bottom: -12px;
                    }
                    &:hover{
                        &:after{
                            width: 78px;
                            height: 78px;
                            left: -11px;
                            right: -11px;
                            top: -11px;
                            bottom: -11px;
                        }
                        &:before{
                            width: 90px;
                            height: 90px;
                            left: -17px;
                            right: -17px;
                            top: -17px;
                            bottom: -17px;
                        }
                    }
                }
            }
        }
    }
    .create-account{
        margin-bottom: 84px;
        .content{
            padding-top: 0px;
            flex-direction: column;
            padding-bottom: 80px;
            position: relative;
            .left-side{
                h2{
                    font-size: 32px;
                    margin-bottom: 16px;
                }
                p{
                    font-size: 16px;
                }
                a{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .right-side{
                ul.brands{
                    justify-content: center;
                    li{
                        max-width: 104px;
                        margin: 20px 20px;
                        a{
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
    .mobile-aj{
        max-width: 600px !important;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}